body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Noto Sans', 'Noto Sans',
    'Noto Sans', 'Noto Sans', 'Noto Sans', 'Noto Sans', 'Noto Sans',
    Noto Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Noto Sans',
    monospace;
}
